<div class="d-flex m-5 justify-content-center gap-5">
    <app-ng-content-child>
        <div class="h1 d-flex justify-content-center heading-1">
            HEADING 1
        </div>
        <button class="btn btn-secondary w-50">
            Push
        </button>
    </app-ng-content-child>
    <app-ng-content-child>
        <div class="h1 d-flex justify-content-center heading-1">
            HEADING 2
        </div>
        <button class="btn btn-secondary w-50">
            Pop
        </button>
    </app-ng-content-child>
    <app-ng-content-child>
        <div class="h1 d-flex justify-content-center heading-1">
            HEADING 3
        </div>
        <button class="btn btn-secondary w-50">
            Offer
        </button>
    </app-ng-content-child>
    <app-ng-content-child>
        <div class="h1 d-flex justify-content-center heading-1">
            HEADING 4
        </div>
        <button class="btn btn-secondary w-50">
            Poll
        </button>
    </app-ng-content-child>
</div>